.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    .para 
    {
        width:50%;
        border-bottom: 1px solid transparent;
        border-left:1px solid transparent;
        padding: 50px;
        font-size:20px;
        &.visible{
            animation: animate 5s ease forwards;
        }
    }
    .about_title
    {
        padding:20px;
        font-size:30px;
    }
}

@keyframes animate {
    0% {
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    }
    50%{
    border-bottom: 1px solid black;
    border-left:1px solid black;
    }
    75%{ 
    border-bottom: 1px solid black;
    border-left:1px solid black; 
    }
    100%{
    border-bottom: 1px solid black;
    border-left:1px solid black; 
    }
}