.FilesContainer{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    .goToFiles{
        width:30%;
        a{
            width:100%;
            display: flex;
            img{
                width:100%;
            }
        }
    }
}