footer
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ebceeb ;
.footer_block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px;
    width:80%;
    h2{
        font-size:35px;
    }
    a,p{
        font-size:25px;
    }
    .contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin:0px;
        width:80%;
        .reseaux{
            gap:7%;
            justify-content: space-between;
        a{
            width:20%;
        }
        }
        .mail{
            padding: 10% 0px;
        }
    }
    }
    
}

