.contact
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    a{
        transition: 0.5s transform;
        &:hover{
            transform:translateY(-4px);
        }
    }
    .reseaux
    {
        display: flex;
        gap:1%;
        @media screen and (min-width:200px) and (max-width:500px) {
            gap:5%;
        }
        a{
            width:4%;
            @media screen and (min-width:500px) and (max-width:780px) {
                width:7%;
            }
            @media screen and (min-width:200px) and (max-width:500px) {
                width:15%;
            }
            img{
                width:100%;
            }
        }
    }
    .mail{
        a
        {
        display:block;
        color:#e0b4e0;
        font-weight:bold;
        border:solid 2px #ccf2ff;
        border-radius:10px;
        box-shadow: 1px 1px 10px rgba(204, 242, 255, 0.7);
        padding:17px;
        font-size: 17px;
        &:hover
        {
            color:black;
        }
        }
}
}
h1
{
    color :#e0b4e0 ;
    font-size:50px;
    text-align:center;
    font-style:italic;
    text-shadow:3px 3px 0px rgba(234, 192, 230, 0.3);
    margin : 20px 0px;
    padding:20px;
    font-family: 'Parisienne', cursive;
}
