body
{
    background-color: white;
    font-family: 'Geologica', sans-serif;

}

.photo-menu
{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    gap:30px;
    justify-content: center;

}
.photo-menu img
{
    width: 280px;
    height:280px;
}

section
{
    padding:80px;
}
.titre-contact
{
    margin-top: 50px;
}

a
{
    color:rgb(121, 121, 218);
    text-decoration:none;
}
a :hover
{
    text-decoration:underline;
}







